* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1200px;
  width: 90%;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  color: #fff;
}
/* NAVBAR */
.navbar-container {
  min-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  background: #f4daf5;
  color: #cc5fed;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.nav:hover {
  transform: scale(1.1);
  background-color: black;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}

.active-nav {
  background: black;
  border-radius: 0%;
  width: 120px;
  height: 30px;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}
/* -------------------------------------------------------- */

/* HEADER/ LANDING */
.landing-section {
  min-height: 100vh;
}

.header {
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  font-size: 50px;
  color: #cc5fed;
  filter: blur(5px);
  animation: flicker 2s infinite alternate;
  transition: ease-out 2s;
  color: #eecef5;
  text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
}

.header:hover {
  filter: blur(0);
  transition: ease-in-out 2s;
  animation: none;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57% {
    text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
      0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  }
  100% {
    text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
      0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* ------------------------------------------------------------------------------------ */

/* ABOUT SECTION */
.about-section {
  min-width: 1200px;
  width: 90%;
  min-height: 100vh;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  color: #cc5fed;
  margin: 20px;
  width: 50%;
  margin: 0px auto;
  padding: 50px;
}

/* ------------------------------------------------------------------------------ */
/* IMAGE/  NEON BORDER ON IMAGE    */

.about-img {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.border {
  position: relative;
  width: 300px;
  height: 400px;
  background: #111;
  margin: auto;
}

.border:before,
.border:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #f0d9e7,
    #ff94cc,
    #a239ea,
    #5c33f6,
    #1e3163,
    #2d46b9,
    #f037a5,
    #b4aee8,
    #ff005c
  );
  background-size: 300%;
  animation: border 20s linear infinite;
}

.border:after {
  filter: blur(7px);
}

@keyframes border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

/* -------------------------------------------------------------------------- */
/* ABOUT HEADER */

.about-header {
  text-transform: uppercase;
  letter-spacing: 50px;
  font-size: 50px;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  animation: show 3s infinite;
}

@keyframes show {
  0%,
  19%,
  21%,
  23% {
    text-shadow: -0.4rem 0.2rem 1rem #fff, 0.2rem 0.4rem 1rem #fff,
      0 0 2rem #cc5fed, 0 0 4rem #cc5fed, 0 0 6rem #cc5fed, 0 0 8rem #cc5fed,
      0 0 10rem #cc5fed;
  }
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.4rem 0.2rem 1rem #fff, 0.2rem 0.4rem 1rem #fff,
      0 0 2rem #33bdba, 0 0 4rem #33bdba, 0 0 6rem #33bdba, 0 0 8rem #33bdba,
      0 0 10rem #33bdba;
  }
}

/* Background------------------------------------------------------------------------------------------------------------------------------ */
.circ {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-radius: 40%;
  border: 2px solid #eecef5;
  z-index: -1;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: circ 12s ease-in forwards infinite;
}

.circ:nth-child(2n) {
  border-color: #eecef5;
}

.circ:nth-child(2) {
  animation-delay: 2s;
  top: 70%;
  left: 10%;
}

.circ:nth-child(3) {
  animation-delay: 4s;
  top: 10%;
  left: 80%;
}

.circ:nth-child(4) {
  animation-delay: 6s;
  top: 130%;
  left: 60%;
}

.circ:nth-child(5) {
  animation-delay: 8s;
  top: 40%;
  left: 90%;
}

.circ:nth-child(6) {
  animation-delay: 10s;
  top: 50%;
  left: 35%;
}

.circ:nth-child(7) {
  animation-delay: 12s;
  top: 90%;
  left: 55%;
}

.circ:nth-child(8) {
  animation-delay: 10s;
  top: 15%;
  left: 60%;
}

.circ:nth-child(9) {
  animation-delay: 10s;
  top: 79%;
  left: 66%;
}

.circ:nth-child(10) {
  animation-delay: 12s;
  top: 28%;
  left: 95%;
}

@keyframes circ {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(360deg) translate(-50%, -50%);
    opacity: 0.5;
  }
}

.circ-about {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-radius: 40%;
  border: 2px solid #eecef5;
  z-index: -1;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: circ 12s ease-in forwards infinite;
}

.circ-about:nth-child(2n) {
  border-color: #eecef5;
}

.circ-about:nth-child(2) {
  animation-delay: 2s;
  top: 170%;
  left: 20%;
}

.circ-about:nth-child(3) {
  animation-delay: 4s;
  top: 150%;
  left: 80%;
}

.circ-about:nth-child(4) {
  animation-delay: 6s;
  top: 130%;
  left: 60%;
}

.circ-about:nth-child(5) {
  animation-delay: 8s;
  top: 140%;
  left: 90%;
}

.circ-about:nth-child(6) {
  animation-delay: 10s;
  top: 185%;
  left: 35%;
}

.circ-about:nth-child(7) {
  animation-delay: 12s;
  top: 190%;
  left: 55%;
}

.circ-about:nth-child(8) {
  animation-delay: 10s;
  top: 145%;
  left: 60%;
}

.circ-about:nth-child(9) {
  animation-delay: 10s;
  top: 179%;
  left: 66%;
}

.circ-about:nth-child(10) {
  animation-delay: 12s;
  top: 168%;
  left: 95%;
}
