* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1200px;
  width: 90%;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  color: #fff;
}
/* NAVBAR */
.navbar-container {
  min-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  background: #f4daf5;
  color: #cc5fed;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.nav:hover {
  transform: scale(1.1);
  background-color: black;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}

.active-nav {
  background: black;
  border-radius: 0%;
  width: 120px;
  height: 30px;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* PROJECT CONTAINER */
.back-img {
  width: 830px;
  height: 580px;
  background-image: url(https://images.unsplash.com/photo-1634928383272-fb29837c6003?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  padding: 20px;
  object-fit: contain;
}

.details {
  width: 300px;
  height: 300px;
  background-color: transparent;
  margin: 80px 550px 0 475px;
  box-shadow: 0px 0px 20px #f8f8f8;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.details1 {
  text-transform: uppercase;
  color: #cc5fed;
  width: 150px;
  height: 150px;
  background-color: #f8f8f8;
  margin: -350px 0px 0px 455px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details2 {
  text-transform: uppercase;
  color: #cc5fed;
  width: 150px;
  height: 150px;
  background-color: #f8f8f8;
  margin: 95px 0px 0 659px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #cc5fed;
}

.border {
  position: relative;
  width: 830px;
  height: 580px;
  background: #111;
  margin: 100px auto;
}

.border:before,
.border:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #f0d9e7,
    #ff94cc,
    #a239ea,
    #5c33f6,
    #1e3163,
    #2d46b9,
    #f037a5,
    #b4aee8,
    #ff005c
  );
  background-size: 300%;
  animation: border 20s linear infinite;
}

.border:after {
  filter: blur(7px);
}

@keyframes border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

/* Background------------------------------------------------------------------------------------------------------------------------------ */
.circ {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-radius: 40%;
  border: 2px solid #eecef5;
  z-index: -1;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: circ 12s ease-in forwards infinite;
}

.circ:nth-child(2n) {
  border-color: #eecef5;
}

.circ:nth-child(2) {
  animation-delay: 2s;
  top: 70%;
  left: 10%;
}

.circ:nth-child(3) {
  animation-delay: 4s;
  top: 10%;
  left: 80%;
}

.circ:nth-child(4) {
  animation-delay: 6s;
  top: 35%;
  left: 13%;
}

.circ:nth-child(5) {
  animation-delay: 8s;
  top: 40%;
  left: 90%;
}

.circ:nth-child(6) {
  animation-delay: 10s;
  top: 84%;
  left: 24%;
}

.circ:nth-child(7) {
  animation-delay: 12s;
  top: 90%;
  left: 55%;
}

.circ:nth-child(8) {
  animation-delay: 10s;
  top: 95%;
  left: 85%;
}

.circ:nth-child(9) {
  animation-delay: 10s;
  top: 79%;
  left: 66%;
}

.circ:nth-child(10) {
  animation-delay: 12s;
  top: 28%;
  left: 95%;
}

@keyframes circ {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(360deg) translate(-50%, -50%);
    opacity: 0.5;
  }
}
