* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1200px;
  width: 90%;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  color: #fff;
}
/* NAVBAR */
.navbar-container {
  min-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  background: #f4daf5;
  color: #cc5fed;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.nav:hover {
  transform: scale(1.1);
  background-color: black;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}

.active-nav {
  background: black;
  border-radius: 0%;
  width: 120px;
  height: 30px;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Container */
.border {
  position: relative;
  width: 400px;
  height: 400px;
  background: #111;
  /* margin: 30px; */
  display: block;
  margin: 100px;
}

.border:before,
.border:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  background: linear-gradient(
    45deg,
    #fc0090,
    #0000ff,
    #00ff00,
    #ff0000,
    #ffff00,
    #fc0090,
    #0000ff,
    #00ff00,
    #ffff00
  );
  background-size: 300%;
  animation: border 20s linear infinite;
}

.border:after {
  filter: blur(7px);
}

@keyframes border {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* FLAP */

.flap {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: black;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: black;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.border:hover .flap::after {
  transform: translatex(300px);
}

.border:hover .flap::before {
  transform: translatex(-300px);
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* CONTENT */

h1 {
  margin-top: 300px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  animation: show 3s infinite;
}

@keyframes show {
  0%,
  19%,
  21%,
  23% {
    text-shadow: -0.4rem 0.2rem 1rem #fff, 0.2rem 0.4rem 1rem #fff,
      0 0 2rem #cc5fed, 0 0 4rem #cc5fed, 0 0 6rem #cc5fed, 0 0 8rem #cc5fed,
      0 0 10rem #cc5fed;
  }
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.4rem 0.2rem 1rem #fff, 0.2rem 0.4rem 1rem #fff,
      0 0 2rem #33bdba, 0 0 4rem #33bdba, 0 0 6rem #33bdba, 0 0 8rem #33bdba,
      0 0 10rem #33bdba;
  }
}

p {
  color: #cc5fed;
  font-weight: 200;
  text-align: center;
  padding: 10px;
}

.resume {
  height: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
  cursor: pointer;
}
