* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1200px;
  width: 90%;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  color: #fff;
}
/* NAVBAR */
.navbar-container {
  min-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  background: #f4daf5;
  color: #cc5fed;
  border-radius: 0%;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.nav:hover {
  transform: scale(1.1);
  background-color: black;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}

.active-nav {
  background: black;
  border-radius: 0%;
  width: 120px;
  height: 30px;
  border: solid 3px #cc5fed;
  box-shadow: 0px 0px 20px #cc5fed;
}
/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* SKILLS CONTAINER */
.tech-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  left: 150px;
}

.circ {
  position: absolute;
  top: 165px;
  left: 166px;
  width: 150px;
  height: 150px;
  border-radius: 40%;
  border: 2px solid #eecef5;
  z-index: -1;
  animation: circ 40s infinite;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
}

.circ:nth-child(2n) {
  border-color: #eecef5;
}

.circ:nth-child(2) {
  top: 70%;
  left: 10%;
}

.circ:nth-child(3) {
  top: 70%;
  left: 40%;
}

.circ:nth-child(4) {
  top: 70%;
  left: 70%;
}

.circ:nth-child(5) {
  top: 25%;
  left: 70%;
}

.circ:nth-child(6) {
  top: 25%;
  left: 40%;
}

.circ:nth-child(7) {
  top: 125%;
  left: 10%;
}

@keyframes circ {
  from {
    transform: scale(100) rotate(360) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: rotate(360deg) translate(-2%, -50%);
    opacity: 1;
  }
}

.languages {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  color: #cc5fed;
  margin: 60px auto;
  animation: lang 40s infinite;
}

@keyframes lang {
  from {
    transform: rotate(-360);
    opacity: 1;
  }
  to {
    transform: rotate(-360deg);
    opacity: 1;
  }
}

/* Skills background --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes circ-about {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(360deg) translate(-50%, -50%);
    opacity: 0.5;
  }
}

.circ-about {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-radius: 40%;
  border: 2px solid #eecef5;
  z-index: -1;
  box-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 12px #fff, 0 0 15px #cc5fed,
    0 0 34px #cc5fed, 0 0 8px #cc5fed, 0 0 5px #cc5fed, 0 0 12px #cc5fed;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: circ-about 12s ease-in forwards infinite;
}

.circ-about:nth-child(2n) {
  border-color: #eecef5;
}

.circ-about:nth-child(2) {
  animation-delay: 2s;
  top: 70%;
  left: 20%;
}

.circ-about:nth-child(3) {
  animation-delay: 4s;
  top: 10%;
  left: 80%;
}

.circ-about:nth-child(4) {
  animation-delay: 6s;
  top: 50%;
  left: 60%;
}

.circ-about:nth-child(5) {
  animation-delay: 8s;
  top: 40%;
  left: 90%;
}

.circ-about:nth-child(6) {
  animation-delay: 10s;
  top: 50%;
  left: 35%;
}

.circ-about:nth-child(7) {
  animation-delay: 12s;
  top: 90%;
  left: 55%;
}

.circ-about:nth-child(8) {
  animation-delay: 10s;
  top: 15%;
  left: 60%;
}

.circ-about:nth-child(9) {
  animation-delay: 10s;
  top: 79%;
  left: 66%;
}

.circ-about:nth-child(10) {
  animation-delay: 12s;
  top: 28%;
  left: 95%;
}
